.about_wrapper {
    display: flex;
    text-align: center;
    padding: 16px;
}

.about_wrapper .about_wrapper-aboutMeText-title {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
}