@import "./../variables/variables";
nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("./../../img/wooden_background.jpg");
    a.logo {
        font-size: 48px;
        font-weight: 400;
        margin: 8px 0 0 16px;
        text-decoration: none;
        color: $goldenColor;
    }
    li {
        text-transform: uppercase;
    }
    .desktopMenu {
        position: relative;
        display: flex;
        height: 100%;
        li {
            position: relative;
            padding: 0px 24px;
            cursor: pointer;
            line-height: 60px;
            list-style: none;
            &::after {
                display: block;
                content: '';
                width: 8px;
                height: 8px;
                background: $goldenColor;
                position: absolute;
                bottom: calc(50% - 6px);
                left: -4px;
            }
            &:first-of-type::after {
                display: none;
            }
            a {
                font-family: 'Courgette', cursive;
                position: relative;
                cursor: pointer;
                line-height: 60px;
                transition: 0.3s linear;
                list-style: none;
                color: #FFFFFF;
                text-decoration: none;
                font-size: 24px;
                font-weight: 700;
                padding: 8px;
                &:hover {
                    color: $goldenColor;
                }
            }
        }
    }
}

@media (max-width: 1201px) {
    nav .desktopMenu {
        display: none;
    }
}

@media (max-width: 600px) {
    nav a.logo {
        font-size: 24px;
    }
}

.hamburger {
    position: absolute;
    right: 10px;
    top: 16px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    .bar2 {
        height: 2px;
        background: $goldenColor;
        margin: 5px auto;
    }
    .bar3 {
        height: 2px;
        background: $goldenColor;
        margin: 14px auto;
    }
}

.hamburger.active {
    .bar1 {
        height: 2px;
        background: $goldenColor;
        margin: 6px auto;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        -webkit-transform: rotate(45deg) translateX(2px) translateY(4px);
        transform: rotate(45deg) translateX(3px) translateY(5px);
    }
    .bar2 {
        opacity: 0;
    }
    .bar3 {
        height: 2px;
        background: $goldenColor;
        margin: 6px auto;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        -webkit-transform: rotate(-45deg) translateX(10px) translateY(-12px);
        transform: rotate(-45deg) translateX(6px) translateY(-10px);
    }
}

@media (max-width: 1200px) {
    .hamburger {
        visibility: visible;
        opacity: 1;
    }
}

.mobileMenu {
    z-index: 1;
    position: absolute;
    top: 0;
    background: #ddd;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    display: table;
    &.active {
        width: 100%;
        visibility: visible;
        opacity: 1;
        transition: 0.6s;
        z-index: 3;
    }
    .mobileMenu_li {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url("./../../img/wooden_background.jpg");
        li {
            display: block;
            text-align: center;
            width: 100%;
            padding: 20px;
            text-align: center;
            font-size: 35px;
            min-height: 50px;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease-out;
            &:hover a {
                transition: all 0.3s ease-out;
                color: #FFFFFF;
            }
            &:hover {
                color: #FFFFFF;
                background: $goldenColor;
            }
            a {
                font-family: 'Courgette', cursive;
                color: #FFFFFF;
                text-decoration: none;
            }
        }
    }
}

@media (min-width: 1201px) {
    .mobileMenu {
        visibility: hidden !important;
    }
}

.fullWidthBurger {
    margin-right: 0 !important;
}